<!DOCTYPE html>

<html>
<head>

	<meta charset="utf-8" />	
	<title>Web Audio</title>	
	
	<script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/async/lib/async.js"></script>

	<script type="text/javascript" src="/javascripts/config.js"></script>

	<script type="text/javascript" src="/javascripts/file_loader.js"></script>
	<script type="text/javascript" src="/javascripts/playlist.js"></script>
	<script type="text/javascript" src="/javascripts/player_model.js"></script>
	<script type="text/javascript" src="/javascripts/player_view.js"></script>
	<script type="text/javascript" src="/javascripts/player.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>

	<link rel="stylesheet/less" type="text/css" href="/stylesheets/index.less">

	<script src="/bower_components/less/dist/less-1.7.0.min.js" type="text/javascript"></script>


</head>
<body>


	<div id="player-playlist">
		<div id="player-playlist-container"></div>
	</div>
	<canvas id="canvas" width="1024" height="400"></canvas>
	<div id="player-controllers"></div>
	<div id="player-equalizer"></div>

	<!--
	<div id="TrekList"></div>	
	<div>
	  <div>	    
	    <canvas id="fft" width="1024" height="400"></canvas>
	  </div>
	</div>
	<div id="controls">
		<div id="currentTime"></div>
		<input type="range" id="timeRange" name="points" value="0" min="o" max="100">
		<div id="duration"></div>
		<div style="clear:both;"></div>
	</div>
	-->

</body>
</html>