
@active-color: #007abc;
@hover-text-color: #fff;
@hover-background-color: darkred;

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.pointer:hover {
	cursor: pointer;
}

#player-playlist {
	position: absolute;
	right: 2%;
	width: 50%;
	height: 80%;
	top: 10%;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3);
	border-radius: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 20;
}

.playlist-item {
	>.playlist-item-body {
		display: none;
	}
}
.playlist-item.active {
	>.playlist-item-body {
		display: block;
	}
}

.playlist-item-header {
	
	.playlist-item-folder {
		border-bottom: 1px solid transparent;
	}

	.playlist-item-folder:hover {
		cursor: pointer;
		border-bottom-color: #007abc;
	}
}
.playlist-item-body {
	padding: 5px 0px 0px 5px;
	border-top: 1px solid @hover-background-color;
}

.playlist-folder {
	background-color: #e6e6e6;
}

.playlist-trek {
	
}

.playlist-trek:hover {
	cursor: pointer;
	color: @hover-text-color;
	background-color: @hover-background-color;
}

.playlist-trek.active {
	color: @hover-text-color;
	background-color: @active-color;
}

#player-view {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	perspective: 1000px;
	-webkit-perspective: 1000px;
}

#canvas {
	position: absolute;
  left: 30px;
	top: 7%;
  z-index: -2;
  -webkit-transform: rotateX(-36deg) rotateY(49deg) translateY(262px);/*rotateX(-30deg) rotateY(30deg);  */
  -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));
  -webkit-transform-origin:left center;
}

#player-controllers {
	position: absolute;
	top: 1%;
	left: 10%;
	right: 10%;
	height: 40px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,.2);
	z-index: 10;
	padding: 8px;
}

#player-play-pause-button:hover {
	border-color: #333;
}

#player-play-pause-button {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #666;
	margin: 0px 25px;

	>.button {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

#player-play-pause-button.paused {
	>.button {
		overflow: hidden;
		width: 0px;
		height: 0px;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 18px solid #666;
		left: 9px;
		top: 3px;
	}

	>.button:hover, >.button:hover {
		border-left-color: #333;
	}
}

#player-play-pause-button.stoped {}

#player-play-pause-button.playing {
	>.button:after, >.button:before {
		position: absolute;
		content: " ";		
		width: 20%;
		height: 60%;
		top: 20%;
		background-color: #666;
	}

	>.button:hover:after, >.button:hover:before {
		background-color: #333;
	}

	>.button:after { 
		left: 20%;
	}

	>.button:before {
		left: 60%;
	}
}

input[type="range"] {
  -webkit-appearance: none;    
  background-color: transparent;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.2);
  width: 200px;
  height: 24px;
	margin-top: 4px;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: #666;
  opacity: 0.5;
  width: 10px;
  height: 20px;
}
#player-position-range {
	position: relative;
	z-index: 1;
}

#player-position-range-container {
	margin-left: 20px;
	position: relative;

	.left-time, .last-time {
		position: absolute;
		bottom: 7px;
		font-size: 12px;
		z-index: -1;
	}
	.left-time {
		left: 5px;
	}
	.last-time {
		right: 5px;
	}
}