
#fft {
  /*translateX(-350px)*/
  position: absolute;
  left: 2px;
  top: 100px;
  z-index: -2;
  -webkit-transform: rotateX(-30deg) rotateY(30deg);  
  -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));
  -webkit-transform-origin:left center;
}

#current-time {
  font-size: 40px;
  /* position: absolute;
  z-index: -1;
  right: 0;
  left: 0;
  top: 10px;*/
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9), 0px -1px 0px rgba(0, 0, 0, 0.7);
  color: transparent;
  font-weight: 400;float: left;
}
#currentTime{
  float: left;
  color: black;
  width: 40px;
}
#duration{
  float: left;
  color: black
}
#controls{
  position: absolute;
  bottom: 0px;
  z-index: 100;
  left: 0px;
  color: transparent;
}
#timeRange{
  float: left;
  width: 300px;
}
#VolumeRange{
  float: left;
  width: 100px;
}
::selection {
  color: #eee;
  background: darkred;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  font-weight: 300;
}

#TrekList{
  position: absolute;
  left: 60%;
  right: 2%;
  top: 2%;
  bottom:2%;
  overflow: auto;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.7),-4px -4px 15px rgba(0,0,0,0.7);
}
.TrekListElement{
  cursor: pointer;
  box-sizing:border-box;
  border: 1px white solid; 
}
.SubFolder{
  cursor: pointer;
  box-sizing:border-box;
  border-bottom: 1px white solid;
}
.ContentSubFolderElement{
  box-sizing:border-box;
  border: 1px white solid; 
}
.TittleSubFolder{
  border-bottom: 1px gold solid;
}
.content-sub-folder{
  display: none;
  margin-left: 10px;
}